<nz-header>
  <div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between" style="width: 100%; color: #fff;padding: 0">
    <div nz-col style="font-size: 18px;">

      <div nz-row [nzGutter]="12" nzType="flex" nzAlign="middle" style="padding: 0">
        <div nz-col>
          {{username}}
        </div>
      </div>
    </div>
    <div nz-col>
      <a (click)="logout()">
        <button nz-button nzType="primary" nzSize="large">
          Выйти
        </button>
      </a>
    </div>
  </div>
</nz-header>
