#main {
  overflow-x: hidden;
  margin-left: 250px;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  #main {
    margin-left: 0;
  }
}

footer {
  padding: 20px;
}

.hide {
  display: none;
}

.onhide {
  margin-left: 0 !important;
}

#main-layout {
  background: #f0f2f5;
  display: grid;
  grid-template-areas: "g-header g-header" "g-navi g-main" "g-navi g-logger" "g-navi g-footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: 64px 1fr auto 52px;

  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.hide-main-layout {
  grid-template-columns: 0 1fr !important;
}

#gheader {
  grid-area: g-header;
  background: #e2e2e2;
  width: 100%;
}

#gnavi {
  grid-area: g-navi;
  background: #3a3633;
  overflow-y: auto;
  display: grid;
  height: 100%;
  grid-template-columns: 280px;

  &::ng-deep .ant-layout-sider-trigger {
    grid-row: 2
  }
}

#gmain {
  grid-area: g-main;
  overflow-y: auto;
  //position: relative;
}

#glogger {
  grid-area: g-logger;
}

#gfooter {
  grid-area: g-footer;
  background: #e2e2e2;
  text-align: right;
  padding: 0;
}
